@import "tailwindcss";

:root {
  --background: #08090a;
  --foreground: #f7f8f8;
}

.light {
  --background: #f7f8f8;
  --foreground: #08090a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--Inter);
  --font-mono: var(--Inter);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #08090a;
    --foreground: #f7f8f8;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Arial, Helvetica, sans-serif;
}
